@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-background-dark: #16171d;
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: var(--color-background-dark);
  color: #f3f4f6;
}
