@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-background-dark: #16171d;
}

body {
  margin: 0;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  background-color: var(--color-background-dark);
  color: #f3f4f6;
}
